html, .monthly-view {
  margin: 0;
  padding: 0;
  height: 100%;
}

body, .monthly-view{
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  opacity: 0;
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.loading-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: #e5d4f7;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition:
    opacity 1.5s ease,
    transform 1.5s ease;
}


.loadingMessage {
  font-size: 25px;
  color: #001f4d;
}

.meduni-svg-loader svg {
  width: 80px;
  height: 80px;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}